/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lora');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MOBILE FIRST */

/* HIDE */
#pck-links,
#user-info,
.map #fotonotizia,
#youtube,
#main-global #content .items .item-breadcrumb,
#main-global #content .items .breadcrumb,
#main-global #content .halftitle,
#main-global #content .notes,
#left-bar,
#preview-toolbar,
#tool-bar,
#top-nav .banner {
  display: none;
}

/* CONTENT */

body {
  font-family: 'Lora',serif;
  text-decoration: none; 
  margin: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size:1.4rem;
  font-weight: bold;
  margin-top: 0.3em;
}

h2 {
  font-size:1.2rem;
  font-weight: bold;
  margin-bottom: 0.3em;
}

h3 {
  font-size:1.1rem;
  font-weight: bold;
}

h4 {
  font-size:1.1rem;
  margin: 0.3em;
  font-weight: 600;
}

img.right {
  float:right;
  margin: 0 0 0.5em 0.5em;
}

img.left {
  float:left;
  margin: 0 0.5em 0.5em 0;
}

img.standalone {
  display:block;
  margin:0.5em 0;
}

.description {
  font-style: italic;
}


/*** ITEMS LIST ***/

ul.items {
  float:left;
  padding: 0 0.3em;
}
ul.items li {
  margin: 0.2em 0;
  padding: 0.2em 0;
  float:left;
  width:100%;
  border-bottom:dotted 1px #aaa;
}
ul.items.highlight li {
  border-bottom:dotted 1px #aaa;
}
ul.items li.last {
  border-bottom-width:0;
}

.paging-bar {
  float:left;
  width:98%;
  font-size: 0.9em;
  text-align: right;
  padding: 2px 0;
  margin:5px 0;
  border-bottom: 1px solid #555;
  color: #555;
}

/* ITEM */

.breadcrumb:before {
  font-style:normal;
  content: "\f138";
}
.breadcrumb {
  font-style:italic;
  color:#444;
  margin-bottom:0.2em;
}
.breadcrumb a {
  color:#444;
}
.article-item h3 {
  font-size:1.3em;
}
.article-item img {
  width:100px;
  height:auto;
}
.article-item img.left {
  margin-bottom:0;
}
.article-item .item-date,
.article-item .item-length,
.article-item .notes {
  font-size:0.95em;
  margin-top:0.3em;
}
.article-item.highlight .article-topic {
  background-color:#333;
  color:#fff;
  padding:0.2em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  font-weight: bold;
}
.article-item.highlight img {
  width:100%;
  border-bottom:solid 1px #fff;
}


/**** STRUCTURE ****/

#main, #main-global {
  width:100%;
  clear:both;
  margin-bottom:1em;
}

#left-bar {
  width:20%;
  float:left;
}

#main-global #content {
  width: 100%;
}

#main-global #right-bar {
  width: 100%;
}

#bottom-bar {
  width:95%;
}


/**** NAV ****/

#logo {
  float: left;
  display: block;
  text-indent: -9999px;
  width: 300px;
  height: 104px;
  background-image: url(/css/i/peacelink.svg);
  background-repeat: no-repeat;
  background-size: 300px 100px;
  margin: 0;
}

#content-links {
  float:left;
  width: 100%;
}

#content-links li.user a,
#content-links li.search a{
  border-top-color: #444;
}

#user-info {
  float:right;
  color:#fff;
}
#top-nav li a {
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 0.2em 0.3em;
  font-weight:bold;
  float:left;
  color: #ffffff;
}

#top-nav li #user-info a {
  font-weight:normal;
  display:inline;
}

#user-info #user-auth {
  display:inline;
}

#bottom-bar {
  font-family: Arial, sans-serif;
  text-align:center;
  padding:0.3em;
  font-size:0.8rem;
  color:#888;
}

#bottom-bar a {
  color:#888;
}



/* HOME */

.pckbox {
  margin:0.5em 0;
  float:left;
  width:100%;
}

.pckbox > h3 {
  color: #444;
  font-weight: bold;
  padding: 0.1em 0.3em;
  border-bottom: solid 1px #444;
  font-size:1.5em;
}

.pckbox > h4 {
  color: #444;
  font-weight:normal;
  border-bottom: solid 1px #666;
}

#left-bar .pckbox > h3,
#right-bar .pckbox > h3 {
  font-size:1.2em;
  font-weight:normal;
}

.pckbox > h3 a,
.pckbox > h4 a{
  color:#444;
}

#fotonotizia {
  background-color:#eee;
}
#fotonotizia img {
  width:100%;
}
#fotonotizia h3.feature {
  display:none;
}
#fotonotizia .description {
  padding:0.2em;
}

#pck-twitter, 
#pck-facebook {
  border: solid 1px #aaa;
  margin: 0.5em 0;
}
#pck-facebook blockquote {
  padding:0.5em;
  font-style:italic;
}
#pck-facebook blockquote a {
  color:#aaa;
}

/* MAP */

ul.groups {
  margin:1em;
}

ul.groups ul.topics {
  margin-top:1em;
}

ul.groups li.group h1.icon {
  padding-right: 0.7em;
  font-size:2em;
}

ul.groups li.group h1.group-pace:before,
.pckbox#box-group-pace > h3 a:before {
  content: "\f67c";
}

ul.groups li.group h1.group-cult:before,
.pckbox#box-group-cult > h3 a:before {
  content: "\f5da";
}

ul.groups li.group h1.group-sol:before,
.pckbox#box-group-sol > h3 a:before {
  content: "\f4c4";
}

ul.groups li.group h1.group-citt:before,
.pckbox#box-group-citt > h3 a:before {
  content: "\f0c0";
}

ul.groups li.group h1.group-eco:before,
.pckbox#box-group-eco > h3 a:before {
  content: "\f06c";
}

ul.groups li.group h1.group-pck:before,
.pckbox#box-group-pck > h3 a:before {
  content:''; 
  height:1em; 
  width:1em; 
  background-image:url('/css/i/colomba.svg'); 
  background-size:contain; 
  background-repeat:no-repeat;
}

ul.groups li.level1 {
  margin-bottom:0.5em;
}

ul.topics li.topic {
  padding:1em 0;
  border-top: dashed 1px #333;
  float:left;
  clear:left;
  width:100%;
}

.icon:before{
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 0.2em;
/*  vertical-align: middle; */
  font-weight: 900;
}

li.topic > h3 a:before {    
  content: "\f0e8";
}

li.topic h4 {
  cursor: pointer;
  margin-right: 1em;
}

li.topic h4 a:before {
  margin: 0.1em;
}

li.topic h4 a.list:before,
#mailing-list h3 a:before {
  content: "\f0e0";
}

li.topic ul.subtopics {
  display: none;
  list-style-type: circle;
  margin-left:1em;
  padding-left:1em;
}
li.topic ul.items {
  display: none;
  margin-left:1em;
  padding-left:1em;
}
li.topic ul.subtopics li {
  margin: 0.3em;
}

/* FORMS */

fieldset {
margin-bottom:0.7em;
}

ul.form-inputs
{
float:left;
width:90%;
padding:0;
margin:0;
}

ul.form-inputs li 
{
margin:0.3em 0;
padding:0.2em;
clear:left;
}

ul.form-inputs li.form-notes
{
font-style:italic;
padding:0 1em;
font-size:0.9em;
}

ul.form-inputs li.wrong
{
background-color:#FFD1D4;
border:solid 1px #a00;
border-left:solid 6px #a00;
}

ul.form-inputs li label
{
float:left;
width:20%;
text-align:right;
padding-top: 0.2em;
font-size:0.9em;
}

ul.form-inputs li label.checkbox,
ul.form-inputs li label.radio
{
margin-left:26%;
display:inline;
text-align:left;
position:relative;
top:-20px;
width:70%;
margin-bottom:-20px;
}

label.required
{
font-weight: bold;
}

ul.form-inputs li input,
ul.form-inputs li textarea,
ul.form-inputs li select
{
font-family: sans-serif; 
margin-left:2%;
}

ul.form-inputs li input.checkbox,
ul.form-inputs li input.radio
{
margin-left:21%;
}

ul.form-inputs li input.med,
ul.form-inputs li textarea
{
width:20em;
}

ul.form-inputs li input.small
{
width:6em;
}

ul.form-inputs li textarea.med
{
height:5em;
}

ul.form-inputs li textarea.large
{
height:10em;
}

ul.form-inputs li textarea.extralarge
{
height:20em;
}

ul.form-inputs li #description.med,
ul.form-inputs li #place_details.med {
width:75%;
}

ul.form-inputs li input:focus,
ul.form-inputs li textarea:focus
{
background-color:#FFFBCC;
}

ul.form-inputs li.buttons
{
padding-left:22%;
}

ul.form-inputs li.buttons input
{
margin-left:0;
margin-right:1em;
}

/* MAILING LIST FORM */

#mailing-list input {
  width: 80%;
  margin:0.3em;
}
#right-bar #mailing-list input {
  width: 30%;
  margin:0.3em;
}
#right-bar #mailing-list input#email {
  width: 65%;
}


#mailing-list .ticker {
  font-size:0.9em;
  margin:0.3em;
  height:100px;
}

/* CALENDAR */

.event-type {
  text-transform:uppercase;
}
.event-item h3 {
  margin:0
}
.event-item .notes {
  font-size:0.95em;
  font-style:italic;
}

#next-events > h3:before {
  content: "\f017";
}

#right-bar .pckbox ul,
#right-bar .pckbox .ticker {
  padding: 0 0.3em;
}

/* TOPIC */

#left-bar h2 {
  font-size:2rem;
  margin: 0.5rem 0;
}
#left-bar #topic-latest {
  line-height:1.1;
}
#left-bar #topic-latest img,
#left-bar #topic-latest .notes {
  display:none;
}
#main .subhead {
  font-style:italic;
}
#left-bar #topic-latest .article-item h3 {
  margin:0;
  font-size:1.1rem;
}
ul.menu,
ul.subtopics-map,
ul.menu ul,
ul.subtopics-map ul {
  list-style-type: circle;
  margin-left:1em;
}

#main #content {
  padding-top: 1em;
}

#main #fotonotizia img {
  width:auto;
  height: auto;
}

/* ARTICLE */

#article-content .headings .notes {
  font-size:0.95em;
  margin-top:0.3em;
}
#article-content p {
  margin: 1em 0;
}

/* COLOURS */

a {
  color: #35338c;
}

a:hover {
  color: #f47742;
}

#content {
  color: #333;
}

#content-links,
#content-links li a {
  background-color: #444;
}

.pckbox > h3 {
  background-color:#eee;
}

/* PACE - ROSSO */
.pckbox#box-group-pace > h3,
.pckbox#box-group-pace .article-item.highlight {
  border-bottom-color: #881A25;
}
#sitemap li.group .group-pace,
.pckbox#box-group-pace h3 a,
.group-pace .article-item h3 a,
.group-pace #content h1 {
  color: #881A25;
}
#content-links li#topic-group-pace.selected a,
.pckbox#box-group-pace .article-item.highlight .article-topic {
  background-color:#881A25;
}

/* CULTURA - VIOLA */
.pckbox#box-group-cult > h3,
.pckbox#box-group-cult ul.items.highlight li {
  border-bottom-color: #7D1A88;
}
#sitemap li.group .group-cult,
.pckbox#box-group-cult h3 a,
.group-cult .article-item h3 a,
.group-cult #content h1 {
  color: #7D1A88;
}
#content-links li#topic-group-cult.selected a,
.pckbox#box-group-cult .article-item.highlight .article-topic {
  background-color:#7D1A88;
}

/* SOLIDARIETA - BLU */
.pckbox#box-group-sol > h3,
.pckbox#box-group-sol ul.items.highlight li {
  border-bottom-color: #391A88;
}
#sitemap li.group .group-sol,
.pckbox#box-group-sol h3 a,
.group-sol .article-item h3 a,
.group-sol #content h1 {
  color: #391A88;
}
#content-links li#topic-group-sol.selected a,
.pckbox#box-group-sol .article-item.highlight .article-topic {
  background-color:#391A88;
}

/* CITTATTIVA - AZZURRO */
.pckbox#box-group-citt > h3,
.pckbox#box-group-citt ul.items.highlight li {
  border-bottom-color: #1A6588;
}
#sitemap li.group .group-citt,
.pckbox#box-group-citt h3 a,
.group-citt .article-item h3 a,
.group-citt #content h1 {
  color: #1A6588;
}
#content-links li#topic-group-citt.selected a,
.pckbox#box-group-citt .article-item.highlight .article-topic {
  background-color:#1A6588;
}

/* ECOLOGIA - VERDE */
.pckbox#box-group-eco > h3,
.pckbox#box-group-eco ul.items.highlight li {
  border-bottom-color: #117738;
}
#sitemap li.group .group-eco,
.pckbox#box-group-eco h3 a,
.group-eco .article-item h3 a,
.group-eco #content h1 {
  color: #117738;
}
#content-links li#topic-group-eco.selected a,
.pckbox#box-group-eco .article-item.highlight .article-topic {
  background-color:#117738;
}

/* OSPITI - GIALLO */
.pckbox#box-group-osp > h3,
.pckbox#box-group-osp ul.items.highlight li {
  border-bottom-color: #A7AA1C;
}
#sitemap li.group .group-osp,
.pckbox#box-group-osp h3 a,
.group-osp .article-item h3 a,
.group-osp #content h1 {
  color: #A7AA1C;
}
#content-links li#topic-group-osp.selected a,
.pckbox#box-group-osp .article-item.highlight .article-topic {
  background-color:#A7AA1C;
}

/* PCK */
.pckbox#box-group-pck .article-item.highlight .article-topic {
  background-color:#B66B1A;
}
.pckbox#box-group-pck > h3,
.pckbox#box-group-pck ul.items.highlight li {
  border-bottom-color: #B66B1A;
}
#sitemap li.group .group-pck,
.pckbox#box-group-pck h3 a,
.group-pck .article-item h3 a,
.group-pck #content h1 {
  color:#B66B1A;
}


/* MOBILE ONLY */
@media (max-width:599px)  { 
}

/* PORTRAIT TABLETS / LANDSCAPE PHONES */
@media (min-width:600px)  { 

  /* UNHIDE */
  #main-global #content .items .item-breadcrumb,
  #main-global #content .items .breadcrumb,
  #main-global #content .halftitle {
    display: block;
  }

  #top-nav li a {
    border-bottom: none;
  }

  #fotonotizia img {
    height:auto;
    float:left;
    max-width:400px;
    margin-right:0.5em;
  }
  #fotonotizia .description {
    padding:0.5em;
  }

  .article-item img {
    width:auto;
  }
  .article-item.highlight img {
    width:300px;
    border-right: solid 5px #fff;
    border-bottom: none;
    margin-bottom:5px;
  }

}

/* TABLETS */
@media (min-width:801px)  {
  
  /* UNHIDE */
  #pck-links,
  #user-info,
  #left-bar,
  #main-global #content .notes {
    display: block;
  }

  /* PCK */
  #pck-links {
    min-width: 500px;
  }

  #pck-links a {
    background-color:#B66B1A;
  }
  #pck-links a:hover {
    background-color:#e79100;
  }

  #left-bar {
    width:25%;
  }
  
  #main #content {
    width:72%;
    float:left;
    margin-left:2%;
  }

  /* COLUMNS */

  .cols-2 {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap : 20px;
    -moz-column-rule-color:  #aaa;
    -moz-column-rule-style:  dotted;
    -moz-column-rule-width:  1px;
    -webkit-column-rule-color:  #aaa;
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-width:  1px;
  }

  ul.items.highlight {
    margin: 0 0.2em;
  }
  ul.items.cols-2,
  ul.items.cols-3 {
    margin-top:0;
  }
  ul.items.cols-2 li,
  ul.items.cols-3 li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

}

/* DESKTOP */
@media (min-width:1025px) {

  body {
    margin:0 1em;
  }

  /* UNHIDE */
  #youtube,
  .map #fotonotizia,
  #preview-toolbar,
  #top-nav .banner {
    display: block;
  }

  /*** ITEMS LIST ***/
  
  h3 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  
  /* STRUCTURE */
  
  #main-wrap {
    max-width: 1220px;
    margin: 0 auto;
  }

  #main-global #right-bar,
  #fotonotizia {
    width:33%;
    float:right;
    max-width: 400px;
  }

  #fotonotizia img {
    float:none;
    width:100%;
    max-width:100%;
    margin-right:0;
  }

  #left-bar {
    width:18%;
  }

  #main #right-bar,
  #main #fotonotizia {
    width:18%;
    float:right;
  }

  #main #content {
    width:58%;
  }

  #main-global #content {
    width:66%;
    max-width: 800px;
    float:left;
  }

  #bottom-bar {
    clear:both;
    width:100%;
    float:left;
    margin:1rem 0 2rem 0;
    border-top:dashed 1px #888;
  }
  
  /* NAV */
  
  #top-nav .banner {
    float: right;
    margin-left: 1em;
    height: 100px;
    width: 300px;
  }

  #top-nav li {
    float:left;
    border-left:solid 0.2em #fff;
  }
  #top-nav li a {
    border-right: none;
  }
  #top-nav li.user {
    float:none;
  }

  #top-nav li a {
    float:left;
    padding: 0.3em 0.5em;
    text-decoration: none;
  }

  #top-nav h3.feature {
    display:none;
  }

  #logo {
    margin-right:20px;
  }

  #content-links {
    border-radius:20px;
    padding: 0 25px;
    clear:both;
    float:left;
    width: 1180px;
  }

  /* COLUMNS */

  .cols-3 {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap : 20px;
    -moz-column-rule-color:  #aaa;
    -moz-column-rule-style:  dotted;
    -moz-column-rule-width:  1px;
    -webkit-column-rule-color:  #aaa;
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-width:  1px;
  }
  ul.items.cols-3 li {
    border-bottom-width: 0;
  }
  .cols-3 .breadcrumb {
    clear:left;
  }
  .cols-3 .article-item img {
    display:none;
  }

  /* COLOURS */

  #content-links li a {
    border-top: solid 3px #777;
  }
  #content-links li a:hover,
  #content-links li.selected a {
    background-color:#777;
    border-top-color:#777;
  }
  
  /* PACE - ROSSO */
  #content-links li#topic-group-pace a {
    border-top-color: #881A25;
  }
  #content-links li#topic-group-pace a:hover {
    background-color:#881A25;
  }

  /* CULTURA - VIOLA */
  #content-links li#topic-group-cult a {
    border-top-color: #7D1A88;
  }
  #content-links li#topic-group-cult a:hover {
    background-color:#7D1A88;
  }

  /* SOLIDARIETA - BLU */
  #content-links li#topic-group-sol a {
    border-top-color: #391A88;
  }
  #content-links li#topic-group-sol a:hover {
    background-color:#391A88;
  }

  /* CITTATTIVA - AZZURRO */
  #content-links li#topic-group-citt a {
    border-top-color: #1A6588;
  }
  #content-links li#topic-group-citt a:hover {
    background-color:#1A6588;
  }

  /* ECOLOGIA - VERDE */
  #content-links li#topic-group-eco a {
    border-top-color: #117738;
  }
  #content-links li#topic-group-eco a:hover {
    background-color:#117738;
  }

  /* OSPITI - GIALLO */
  #content-links li#topic-group-osp a {
    border-top-color: #A7AA1C;
  }
  #content-links li#topic-group-osp a:hover {
    background-color:#A7AA1C;
  }

  
}
