/* CSS */

/*CENTER*/

#center ul.items   {
margin:0;
padding:0;
width:100%
}

#center ul.items .halftitle {
font-size:0.8em;
}

#center ul.items h3 {
font-size:1.15em;
margin:8px 0;
}

#center ul.items .subhead {
font-size:1.1em;
font-style:normal;
}

#center ul.items li.article-item {
border:none;
width:100%;
position:relative;
background-image: url(http://www.peacelink.it/images/296.gif);
background-repeat: no-repeat; 
background-position: 471px 0px;
font-weight:normal;
padding: 0;
margin:1em 0 8px 0;
}

#center ul.items li.article-item .article-item {
border:none;
border-top: 1px solid #98846c;
width:100%;
padding: 12px 0;
margin:1em 0 8px 0;
}


/*RIGHT BAR*/

#right-bar {
background: #fff;
}

#right-bar ul li {
margin:8px 0;
padding:0;
width:100%;
border:none;
}

#right-bar h3.feature {
background-color:#fff;
text-transform:lowercase;
margin:1.4em 0em 0em 0em;
position:relative;
background-image: url(http://www.peacelink.it/images/305.gif);
background-repeat: no-repeat; 
background-position: 0px 10px;
padding:8px 0 8px 35px ;
font-size:1.3em;
font-weight:normal;
color: #333333;
text-align:left;
}

#right-bar ul h3 {
margin:8px 0;
font-size:1.26em;
font-variant: small-caps;
text-transform: lowercase;
font-weight:normal;
}

#right-bar ul.items .halftitle {
display:none;
}

#right-bar ul.items li.article-item .subhead{
font-size: 1.1em
}
