/* CSS */

.item-breadcrumb {
font-size: 0.9em;
padding-bottom:0.2em;
color:#339;
}

.item-breadcrumb a {
color:#339;
}

.item-breadcrumb a:hover {
color:#f33;
}

.warning {
background-color:#f94;
padding:0.5em;
}

#left-bar #banner-g3 {
text-align:center;
margin:1em auto;
}

#left-bar #banner-g3 img {
margin-top:1em;
border:solid 1px #ccc;
}

#article-text ul {
list-style-type: disc;
}
