/* CSS */

body {text-align:left;}
#cell-menu {background-color:#FFFCD7;padding:10px;}
#cell-content {padding:10px 20px;}
.breadcrumb {border-bottom:solid 2px #E26105;border-left-width:0;font-size:1.2em;}

