/* CSS */

#bottom-bar h3.feature {
display:none;
}

#main #left-bar {
width:240px;
}

#main #center {
margin-left:250px;
width:59%;
padding:0.8em;
}

#left-bar img {
margin:20px;
}

#left-bar ul.menu li {
font-size:1.1em;
margin-top: 1em;
font-weight:bold;
margin-bottom:0.3em;
}

#left-bar ul.menu li a {
color:#090;
}

#left-bar ul.menu li li {
font-size:1em;
margin:0;
font-weight:normal;
}

#left-bar ul.menu li li a {
color:#000;
}
