/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


code
{
background-color: #ffc;
padding: 0.2em;
border: inset 1px #ee9;
display:block;
font-family:courier;
}

pre
{
font-size:1.3em;
line-height:1.2em;
padding:1em;
}



/* SEARCH */

#search-bar {
height:15px;
width:90%;
float:right;
}

#search-form
{
margin: 0;
float:right;
}

#search-form fieldset
{
padding:0 0.5em;;
margin:0;
border-width:0;
font-size: 0.8em; 
}

#search-form .search-input
{
width: 100px;
}

#search-form .search-submit
{
font-weight: bold;
color: #4C599C;
border-color: #EAEAD5; 
text-transform:uppercase;
padding:0.1em 0.2em;
}


/**** BREADCRUMB ****/

.breadcrumb
{
margin: 0 0 1em 0;
padding: 0.2em 0.5em;
border-left:solid 2px #ddd;
border-bottom:solid 2px #ddd;
}

.breadcrumb a
{
text-decoration: none;
}


/**** NAV BAR ****/

#left-bar
{
background-color:#eee;
border:solid 1px #cde;
padding:0.3em;
text-align:left;
}

#left-bar h2
{
text-align:center;
margin-top:0;
}

#left-bar a
{
text-decoration: none;
}

#left-bar a:hover
{
text-decoration: underline;
}

ul.menu
{
margin: 0 0 1em 0;
padding: 0;
}

ul.menu li { margin-bottom:0.4em; }
ul.menu li ul { padding-left:1em; margin:0; }
ul.menu li ul li { margin-bottom:0; }

ul.menu li.selected a,
ul.menu li.selected a:hover
{
font-weight: bold;
}

ul.menu li.selected li a,
ul.menu li.selected li a:hover
{
font-weight: normal;
}

#left-bar .banner
{
margin: 1em 0;
}

#left-bar .menu-footer
{
font-size:0.8em;
}


/* IMAGES */

img
{
border-width:0;
}

img.right
{
float:right;
margin: 0 0 0.5em 0.5em;
}

img.left
{
float:left;
margin: 0 0.5em 0.5em 0;
}

img.standalone
{
display:block;
margin:0.5em 0;
}


/*** EVENTS LIST ***/

ul.events
{
margin: 0 0 1em 0;
padding: 0;
}

ul.events li
{
margin-bottom:0.8em;
font-size:0.9em;
}

.event-type
{
text-transform: uppercase;
}


/*** ITEMS LIST ***/

ul.items, ul.rss-list
{
margin: 0.5em 0;
padding: 0 0.5em;
float:left;
width:97%;
}

ul.items li
{
margin: 0 0 0.7em 0;
clear:left;
border-bottom:dotted 1px #ccc;
padding-top:0;
padding-bottom:0.7em;
float:left;
width:100%;
}

ul.items li.last
{
border-bottom-width:0;
padding-bottom:0;
}

ul.items .item-date
{
font-size:0.9em;
}

ul.items .item-length
{
margin:0.3em;
font-style:italic;
font-size:0.9em;
}


/* ARTICLE */

.headings
{
margin: 1em 0;
}

.headings .notes,
.headings .source
{
margin-top:0.5em;
font-size:0.9em;
}

.subhead
{
font-style:italic;
}



/* PAGING */

.paging-bar
{
float:left;
width:98%;
font-size: 0.8em;
text-align: right;
padding: 2px 0;
border-bottom: 1px solid #555;
color: #555;
}


/* FORMS */

fieldset {
margin-bottom:0.7em;
}

ul.form-inputs
{
float:left;
width:90%;
padding:0;
margin:0;
}

ul.form-inputs li 
{
margin:0.3em 0;
padding:0.2em;
clear:left;
}

ul.form-inputs li.form-notes
{
font-style:italic;
padding:0 1em;
font-size:0.9em;
}

ul.form-inputs li.wrong
{
background-color:#FFD1D4;
border:solid 1px #a00;
border-left:solid 6px #a00;
}

ul.form-inputs li label
{
float:left;
width:20%;
text-align:right;
padding-top: 0.2em;
font-size:0.9em;
}

ul.form-inputs li label.checkbox,
ul.form-inputs li label.radio
{
margin-left:26%;
display:inline;
text-align:left;
position:relative;
top:-20px;
width:70%;
margin-bottom:-20px;
}

label.required
{
font-weight: bold;
}

ul.form-inputs li input,
ul.form-inputs li textarea,
ul.form-inputs li select
{
font-family: sans-serif; 
margin-left:2%;
}

ul.form-inputs li input.checkbox,
ul.form-inputs li input.radio
{
margin-left:21%;
}

ul.form-inputs li input.med,
ul.form-inputs li textarea
{
width:20em;
}

ul.form-inputs li input.small
{
width:6em;
}

ul.form-inputs li textarea.med
{
height:5em;
}

ul.form-inputs li textarea.large
{
height:10em;
}

ul.form-inputs li textarea.extralarge
{
height:20em;
}

ul.form-inputs li #description.med,
ul.form-inputs li #place_details.med {
width:75%;
}

ul.form-inputs li input:focus,
ul.form-inputs li textarea:focus
{
background-color:#FFFBCC;
}

ul.form-inputs li.buttons
{
padding-left:22%;
}

ul.form-inputs li.buttons input
{
margin-left:0;
margin-right:1em;
}

/* BOTTOM */

#bottom-bar
{
margin:1em 0;
text-align:center;
padding:0.3em;
border-top:dashed 1px #888;
font-size:0.8em;
color:#888;
float:left;
width:100%;
}

#bottom-bar a
{
color:#888;
}


/* VARIA */

ul#tool-bar
{
float:right;
width:80px;
padding: 0;
margin: 1em 0 1em 1em;
font-size:0.8em;
}

ul#tool-bar li
{
margin:0.2em 0;
padding:0.1em;
padding-left:0.5em;
background-color:#ddd;
}

ul#tool-bar li a
{
text-decoration: none;
color:#555;
}

ul#tool-bar li a:hover
{
color:#c00;
}

.error-msg
{
margin: 1em 0;
background-color: #fda;
padding: 0.5em;
border: solid 1px #da8;
}

.notice-msg
{
margin: 1em 0;
background-color: #dfa;
padding: 0.5em;
border: solid 1px #ad8;
}

#rss
{
text-align:center;
margin: 0.5em 0.2em;
}

#print-summary
{
margin-bottom:1em;
border:solid 1px #ccc;
padding:0.5em;
font-size:0.8em;
}

.licence 
{
margin:1em 0.3em;
padding:0.3em;
border:solid 1px #a00;
float:left;
width:95%;
}

.inline
{
display:inline;
margin-right:1em;
}

.hidden
{
position:absolute;
left:0;
top:-1000em;
height:1px;
width:1px;
margin:-1000em;
}

#left-bar .pckbox h3.feature
{
background-color:#2f2f6b;
}

li.article-item {
font-size:0.95em;
}

#random-quote {
font-style:italic;
font-size:0.9em;
padding:1em;
clear:left;
}

#random-quote p {
margin:0.2em 0;
}

.generic-text {
margin:0.5em;
}

.ticker-box {
border: dotted 1px #bbb;
padding:0;
margin:0.3em 0;
font-size:0.9em;
height:110px;
width:220px;
background: #fff url(https://www.peacelink.it/images/226.jpg);
float:left;
}

.ticker-box .ticker-title,
.ticker-box .ticker {
padding:0.2em 0.2em 0 0.2em;
}

.ticker-box a {
text-decoration:none;
}

.pckbox2
{
margin:1em 0;
padding:0;
border:solid 1px #2f2f6b;
float:left;
}

.pckbox2 h3.feature
{
background-color:#ccc;
color:#2f2f6b;
text-align:center;
}

#gallerie .banner-gallery,
#libri .banner-gallery {
padding:0.6em;
}

#gallerie .banner-gallery img,
#libri .banner-gallery img {
width:200px;
}

#tematiche ul.topics {
margin:0;
padding:0.5em 1em;
}

#tematiche ul.topics li {
margin-bottom:0.2em;
font-family:verdana;
}

#libri,
#gallerie {
margin:1em auto;
text-align:center;
}

#vignette {
text-align:center;
margin:0.5em;
}

#vignette img {
}

#work-in-progress {
background-color:#d22c0c;
color:#fff;
padding:0.5em;
text-align:center;
margin:1em 0;
}

#banner-g19.banner {
height:170px;
width:220px;
clear:left;
text-align:center;
margin:0;
padding:0;
}

ul#support-pck {
margin:0;
padding:3px 20px;
list-style-type: disc;
}

ul#support-pck fieldset {
margin:0;
padding:0;
border-width:0;
}

ul#support-pck legend {
display:none;
}

ul#support-pck li {
margin-bottom:0.5em;
}

.itsover {
text-align:center;
font-size:2em;
background:#f00;
color:#fff;
padding:0.5em;
margin:1em 0.2em;
font-weight:bold;
}

/* SEARCH FORM */

#search-form-pck {
text-align:center;
margin:1em 0;
}

#search-form-pck select, 
#search-form-pck input {
font-size:1.05em;
}

#search-form-pck input {
display:block;
margin:0.5em;
width:80%;
}

#search-form-pck .search-input {
padding:0.1em 0.3em;
}

#search-form-pck legend {
font-weight:bold;
color:#2f2f6b;
}

#geo-search {
float:left;
}

#geo-search h3 {
background-color:#2F2F6B;
text-align:center;
}

#geo-search h3 a {
color:#FFF;
}

/* MAILING LIST FORM */

#mailing-list {
text-align:center;
}

#mailing-list #list-mini-ops {
margin:0;
}

#mailing-list input {
width: 80%;
font-size:0.95em;
margin:0.2em;
}

#mailing-list label {
display:none;
}

#mailing-list h3 {
background-color:#2f2f6b;
color:#fff;
padding:0.1em 0.3em;
}

/* GALLERIES */

.gallery-image .image-info {
float:left;
width:30%;
padding:0.5em; 
}

.gallery-image .image-info .image-date, 
.gallery-image .image-info .source, 
.gallery-image .image-info .orig, 
.gallery-image .image-info .notes, 
.gallery-image .image-info .author {
font-size:0.9em;
margin:0.4em 0;
}

.gallery-image .image-info .orig, 
.gallery-image .image-info .notes {
border-top: dashed 1px #666;
padding:0.4em 0;
}

#prev-next {
font-size:0.9em;
font-style:italic;
border-bottom:dashed 1px #666;
padding-bottom:0.4em;
margin-bottom:1em;
}

#share h4 {
margin:0;
}

#share ul {
margin:0;
padding:0 0.5em;
}

#share ul li a {
background-image:url(/logos/icons-sprite.png);
background-repeat:no-repeat;
padding:0 0 0 20px;
line-height:1.6;
display:block;
text-decoration:none;
}

#share li.digg a {
background-position:0px -1097px;
}

#share li.facebook a {
background-position:0px -1197px;
}

#share li.stumbleupon a {
background-position:0px -897px;
}

#share li.delicious a {
background-position:0px -997px;
}

#share li.reddit a {
background-position:0px -1397px;
}

#share li.googlebookmarks a {
background-position:0px -1297px;
}

#share {
margin:1em;
}

ul.form-inputs li label.invalid { color:#AA0000; font-style:italic; font-weight:bold; margin-left:10px; float:none; width:auto; text-align:left; }
ul.form-inputs li.invalid { background-color:#FFCCCC; }

#right-bar .facebook-like iframe {
height:30px !important;
}

#article-content .headings img.user-image { width: 40px; height: auto; margin-right:10px;  }

label.required abbr {
margin-left:2px;
}



/*
 * ###########
 * NEW CSS
 *
 */

body {
  font-family: Arial, Helvetica, sans-serif; 
  text-decoration: none; 
  margin:0 1em;
}


/**** STRUCTURE ****/

#main-wrap {
  max-width: 1220px;
  margin: 0 auto;
}

#main, #main-global {
  width:100%;
  clear:both;
  margin-bottom:1em;
}

#left-bar {
  width:20%;
  float:left;
}

#right-bar  {
  width:18%;
  float:right;
}

#main #content {
  margin-left: 19%;
  width:59%;
}

#main-global #content {
  width:70%;
  max-width: 800px;
  float:left;
}

#main-global #right-bar {
  width: 400px;
}

#bottom-bar {
  clear:both;
}

/**** TOP NAV ****/

#logo {
  float: left;
  display: block;
  text-indent: -9999px;
  width: 300px;
  height: 104px;
  background: url(/css/i/peacelink.svg);
  background-size: 300px 100px;
  margin-right:20px;
}

#top-nav .banner {
  float: right;
  margin-left: 1em;
  height: 100px;
  width: 300px;
}

#top-nav li a {
  float:left;
  border-left:solid 0.2em #fff;
  padding: 0.3em 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

#pck-links a {
  background-color:#e79100;
}

#pck-links a:hover {
  background-color:#f7a100;
}

#top-nav h3.feature {
  display:none;
}

#content-links {
  background-color: #2f2f6b;
  border-radius:20px;
  padding: 0 25px;
  clear:both;
  float:left;
  width: 1180px;
}

#content-links li a {
  background-color: #2f2f6b;
}

#content-links li a:hover,
#content-links li.selected a {
  background-color:#4f4fbb;
}

#user-info {
  float:right;
  color:#fff;
}

#top-nav li #user-info a {
  font-weight:normal;
  display:inline;
}

#user-info #user-auth {
  display:inline;
}

/* HOMEPAGE CSS */

#content .pckbox {
  width:100%;
}

#fotonotizia {
  float:right;
  text-align:center;
  background-color:#fbdcab; 
  width:100%;
}

#fotonotizia h3.feature {
  display:none;
}

#fotonotizia .description {
  font-style:italic;
  padding:0.2em;
}


/* MAP */

ul.groups {
  margin:1em 0;
}

ul.groups ul.topics {
  margin-top:1em;
}

ul.groups li.group h1.icon {
  padding-right: 0.7em;
  font-size:2em;
}

ul.groups li.group h1.group-1:before {
  content: "\f67c";
}

ul.groups li.group h1.group-3:before {
  content: "\f5da";
}

ul.groups li.group h1.group-11:before {
  content: "\f06c";
}

ul.groups li.group h1.group-12:before {
  content: "\f4c4";
}

ul.groups li.group h1.group-13:before {
  content: "\f0c0";
}

ul.groups li.level1 {
  margin-bottom:0.5em;
}

ul.topics li.topic {
  padding:1em 0;
  border-top: dashed 1px #333;
}

.icon:before{
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 0.3em;
/*  vertical-align: middle; */
  font-weight: 900;
}

li.topic h3 a:before {    
  content: "\f0e8";
}

li.topic h4 {
  cursor: pointer;
}

li.topic h4 a:before {
  margin: 0.3em;
}

li.topic h4 a.list:before {
  content: "\f0e0";
}

li.topic ul.subtopics {
  display: none;
  list-style-type: circle;
  margin-left:1em;
  padding-left:1em;
}

li.topic ul.subtopics li {
  margin: 0.3em;
}

/* CONTENT */

a {
  text-decoration: none;
  color: #35338c;
}

a:hover {
  text-decoration: underline;
  color: #f47742;
}

h1 {
  font-size:1.3rem;
  font-weight: bold;
  margin-bottom: 0.3em;
}

h2 {
  font-size:1.2rem;
  font-weight: bold;
  margin-bottom: 0.3em;
}

h3 {
  font-size:1.1rem;
  font-weight: bold;
  margin-bottom: 0.3em;
}

h4 {
  font-size:1.1rem;
  margin: 0.3em;
}

#content {
  color: #333;
}

.description {
  font-style: italic;
}

/* PCK COMMON STUFF */

.pckbox {
  margin:0.5em 0;
  border:solid 1px #ccc;
  float:left;
}

.pckbox > h3 {
  background-color:#e78e0f;
  color:#fff;
  text-align:center;
  font-weight: bold;
  padding: 0.3em;
}

.pckbox > h3 a {
  color:#fff;
}

.pckbox .article-item.highlight h3 {
  font-size: 1.3em;
}

.pckbox .article-item.highlight .article-topic {
  background-color:#333;
  color:#fff;
  padding:0.2em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  font-weight: bold;
}

/* MOBILE */
@media only screen and (max-width: 1200px) {
  #main-wrap {
    max-width: none;
    margin: 0;
  }
  
  #main-global #content {
    width: 100%;
    max-width: none;
    float:none;
  }

  #main-global #right-bar {
    float: none;
    width: 100%;
  }
  
  #content-links {
    width: 95%;
  }
  
  #top-nav .banner {
    display: none;
  }
  
  #top-nav #pck-links {
    float:right;
    min-width: 500px;
  }
}