/* CSS */

/* GRIDO DEI POVERI */
body#id81.topic_home h3.feature {
display:none;
}

body#id81.topic_home .gdpbox h3.feature {
display:block;
}


ul.subtopics
{
float:left;
width:98%;
margin:0;
padding:0;
}

ul.subtopics li
{
border-left:solid 1px #cde;
border-bottom:solid 1px #cde;
background-color: #f5f5f5;
padding: 0.2em 0.3em;
font-size: 0.9em;
margin: 1%;
float:left;
width:45%;
}

ul.subtopics li.col1
{
clear:left;
}

ul.subtopics li a
{
font-weight: bold;
text-decoration: none;
}

ul.subtopics li a:hover
{
text-decoration: underline;
}

ul.subtopics li img {
margin-right:8px;
float:left;
}

ul.subtopics .description {
text-align:justify;
}
