/* CSS */

body {
padding-top:0;
font-family: Arial, Helvetica, sans-serif;
color:#4b474e;
}

a {
color:#0e4b78;
}

a:hover {
color:#98846c;
}

.paging-bar {
border: none;
color: #98846c;
}

.paging-bar a {
font-weight:bold;
color: #98846c;
}

/*STRUTTURA*/

#main {margin:0}

#main #main-center {
float:left;
position:relative;
width:730px;
margin:0;
}

#main #main-center #center {
position:relative;
float:right;
margin:0;
padding:0;
width:500px;
}

#main #right-bar {
float:right;
width:208px;
margin:0;
padding:0;
background: #fff;
min-height:750px;
}

#main #main-center #left-bar {
float:left;
width:208px;
margin:0;
padding:0;
background:#0e4b78;
color:#fff;
text-transform:lowercase;
font-variant:small-caps;
border:none;
border-top: 1px solid #fff;
min-height:558px;
}



/*CENTER*/
#center .breadcrumb {
width:300px;
float:right;
background: #98846c;
color:#fff;
font-size: 0.8em;
padding: 0 12px;
border:none;
margin:0;
}

#center ul.items  {
width:500px;
}

#center .linea {
float:right;
width:100%;
border-bottom: 1px solid #98846c;
position:relative;
background-image: url(http://www.peacelink.it/images/285.gif);
background-repeat: no-repeat; 
background-position: 160px;
font-weight:normal;
padding: 0;
margin:1em 0 8px 0;
}

#center .linea a {
color:#fff;
}

/*RIGHT BAR*/

#right-bar h3.feature {
font-variant:small-caps;
margin:1.4em 0.1em 0em 1em;
position:relative;
background-image: url(http://www.peacelink.it/images/286.gif);
background-repeat: no-repeat; 
background-position: 0px 8px;
padding:0 0 0 35px;
font-size:1.3em;
font-weight:normal;
color: #0e4b78;
}

#right-bar ul.items {
margin: 0em;
padding:0 ;
}

#right-bar ul li {
margin:1em 1.8em 0em 1.8em;
padding:0;
width:auto;
border:none;
}

#right-bar .event-type {
text-transform:lowercase;
margin:0em 0em 0.2em 0em;
position:relative;
background-image: url(http://www.peacelink.it/images/287.gif);
background-repeat: no-repeat; 
background-position: 0px 4px;
padding:0 10px;
font-size:1.1em;
color: #4b474e;
}

#right-bar .event-item .event-date  {
margin:0 0 0 10px;
text-transform:uppercase;
color: #4b474e;
}

#right-bar .event-item h3  {
margin:0 0 0 10px;
text-transform:lowercase;
font-variant:small-caps;
font-size:1.3em;
font-weight:normal;
}

#right-bar .event-item h3 a {
color: #0e4b78;
}

#right-bar .event-item .notes  {
margin:0 0 0 10px;
color: #4b474e;
}

#right-bar .banner {
margin:2em 14px;
float:left;
}


/*LEFT_BAR*/
#main-center #left-bar a {
color:#fff;
}

#main-center #left-bar ul.menu {
margin:2em 0;
padding:1em;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
}

#main-center #left-bar ul li {
position:relative;
background-image: url(http://www.peacelink.it/images/284.gif);
background-repeat: no-repeat; 
background-position: 0px 4px;
font-weight:normal;
padding: 0px 12px;
margin:0;
}

#main-center #left-bar ul li li {
position:relative;
background-image: url(http://www.peacelink.it/images/284.gif);
background-repeat: no-repeat; 
background-position: 0px 4px;
font-weight:normal;
padding: 0px 12px;
margin:0;
}

#main-center #left-bar ul li ul {
margin: 0 0 5px 0;

}
#main-center #left-bar img {
margin:15px 8px ;
padding:0;
}

#main-center #left-bar ul.menu li.selected a,
#main-center #left-bar ul.menu li.selected a:hover
{
background:#e9f4ff;
color:#0e4b78;
}

#main-center #left-bar ul.menu li.selected li a,
#main-center #left-bar ul.menu li.selected li a:hover
{
background:#0e4b78;
color:#fff;
font-weight: normal;
}


/* TOP NAV */

#top-nav {
margin-top:3px;
padding:0;
}

.top-right {float:right}

#top-nav #top-nav-top {
background-color:#6699cc;
height:24px;
float:left;
width:100%
}

#top-nav-top #search-form {
float:left;
}

#top-nav-top #search-form fieldset legend { display:none;}


#top-nav-top #search-form input.search-input {
border:none;
width:180px;
margin:0.3em
}

#top-nav-top #search-form input.search-submit {
float:left;
border:none;
background:none;
color:#fff;
font-size:0.9em;
font-weight:normal;
margin:0.4em 0.5em;
}

#top-nav #top-nav-top .top-right {
margin:0.4em 0.5em;
font-size:1.02em;
color:#fff;
} 

#top-nav #top-nav-top .top-right a {
font-weight:normal;
} 

#top-nav #top-nav-bottom {
background-color:#e9f4ff;
height:24px;
float:left;
width:100%;
} 

#top-nav #top-nav-bottom ul.top-left {
margin:0.3em 0em;
color:#0e4b78;
padding-left:1em;
}

#top-nav #top-nav-bottom .top-left .top-item-left {
text-transform:lowercase;
font-variant:small-caps;
padding:0 0.15em;
font-size:1.2em;
}

#top-nav #top-nav-bottom a {
color:#0e4b78;
padding:0;
font-weight:normal;
}


/*TOP BAR*/

#top-bar #top-bar-top #logo  img {
float:right;
}

#top-bar #top-bar-top #logo-left img {
float:left;
}

#top-bar #logo {
float: none;
}

#top-bar #top-bar-bottom {
background-color:#0e4b78;
height:24px;
float:left;
width:100%;
}

#top-bar #top-bar-bottom {
color:#fff;
font-size:1.1em;
}

#top-bar #top-bar-bottom ul.top-left {
float:left;
margin:0;
padding:0.25em 1.1em;
}

#top-bar #top-bar-bottom ul.top-right {
float:right;
margin:0;
padding:0.25em 1.1em;
}

#top-bar #top-bar-bottom ul.top-left li.top-item-left {
float:left;
margin:0 0.2em;
}

#top-bar #top-bar-bottom a {
color:#fff;
}


 /*BOTTOM BAR */
#main-wrap #bottom-bar {
color: #0e4b78;
border-top: 1px solid #a2bbda;
padding:0em;
background: #fff;
}

#main-wrap #bottom-bar a {
color: #0e4b78
}

#main-wrap #bottom-bar #page-footer {
padding:1em 0 0.5em 0;
background: #fff;
}



