/* CSS */


/*IMMAGINE CENTRALE*/
#content-banner a{
color:#fff;
}

#content-banner-left h3.feature {
display:none;
}

#content-banner-left {
float:left;
margin:0;
padding:0;
}

#content-banner-left ul.items {
float:left;
margin:0;
padding:0;
}

#content-banner-left li.gallery-item {
position:relative;
float:left;
margin:0;
padding:0;
}

#content-banner-left li.gallery-item img {
float:left;
margin:0;
padding:0;
}

#content-banner-left #banda-bianca {
position:absolute;
top:0; left:0;
}



#content-banner-right {
float:right;
width:388px;
height:192px;
color:#fff;
background:#4b474e;
}

#content-banner-right h3.feature {display:none;}

#content-banner-right .items  {
width:375px;
height:172px;
margin:0;
overflow: auto;
border-top:1px solid #fff;
border-bottom:1px solid #fff;
}

#content-banner-right .items li {
margin:1em;
width:auto;
}

#content-banner-right .leggi {
width:305px;
font-variant:small-caps;
text-align:right;
margin:0.1em 1em;
clear:both;
0float:right;
0position:relative;
background-image: url(http://www.peacelink.it/images/286.gif);
background-repeat: no-repeat; 
background-position: 0px 4px;
padding:0 35px;
}

#content-banner-right .breadcrumb-home {display:none;}

#content-banner-right .halftitle {
margin:0 0 0.4em 0;
font-size:0.8em
}

#content-banner-right h3 {
font-variant:small-caps;
font-size:1.3em;
}

#content-banner-right .subhead {
margin:1em 0 0 0 ;
font-size:1.05em
}

#content-banner-right img {display:none;}


/*CENTER*/
#center h3.feature {display:none}

#center .breadcrumb-home {
text-transform: uppercase;
font-variant: small-caps;
width:2000px;
float:right;
background: #98846c;
color:#fff;
font-size: 0.85em;
padding: 0 120px;
}

#center .linea {
float:right;
width:100%;
border-bottom: 1px solid #98846c;
position:relative;
background-image: url(http://www.peacelink.it/images/285.gif);
background-repeat: no-repeat; 
background-position: 260px;
font-weight:normal;
padding: 0;
margin:0 0 8px 0;
}

 #center h3 {
color:#fff;
margin:0;
padding:0;

}

 #center ul.items {
padding:0;
margin: 1em 0;
width:100%
}

 #center ul.items li {
padding:0;
margin: 1em 0;
width:100%
}

 #center .halftitle {
margin: 0 0 5px 0;
font-size: 0.8em
}

 #center h3 {
color: #0e4b78;
font-variant:small-caps;
font-size: 1.3em;
}

 #center .subhead {
font-size: 1em;
font-style:normal;
}

 #center .article-item {
border:none;
}

#center ul.items img.left,
#center ul.items img.right {
float:left;
margin:0 15px 0 0;
}